<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Utest Application</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application' %>
    <%= javascript_pack_tag 'material-ui' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
